@import 'helpers/variables';
@import 'helpers/mixins';

html,
body {
  @include dimensions(100%, 100%);
  @include indentations(0, 0);
}

.container {
  @include dimensions(auto, 100%);
  background-color: $white;
  font: {
    color: $black;
    family: 'Inter', sans-serif;
    size: 16px;
  }
  position: relative;

  header,
  main,
  footer {
    position: relative;
  }

  * {
    outline-color: #14783e;
  }

  a {
    border: none;
    text-decoration: none;
  }

  img {
    border: none;
  }

  .opened {
    display: inline-block;
  }

  .closed {
    display: none;
  }

  .info {
    @include dimensions(auto, 100%);
    display: flex;
    justify-content: center;

    .info-section {
      background-color: $white;
      color: $black;
      position: relative;

      .section-text {
        @include dimensions(auto, 100%);
        box-sizing: border-box;
        padding: 0 1em;

        @include respond-to('max-width: 1024px') {
          padding: 0 0.7em;
        }

        span {
          p {
            margin-top: 0;
          }
        }

        ul, ol {
          padding-left: 1.5em;
          text-align: left;

          @include respond-to('max-width: 1024px') {
            padding-left: 1em;
          }

          li {
            padding: 0.2em 0;
          }
        }
      }

      &:first-child {
        span {
          display: inline-block;
          margin: 0.25em 0;

          h3 {
            font-size: 1.05em;
            line-height: 1.3;
            margin: 0;
          }
        }
      }

      &:nth-child(3) {
        ul {
          p {
            margin-top: 0.2em;
          }
        }
      }
    }
  }

  header {
    @include dimensions(auto, 100%);
    background-color: $black;
    box-sizing: border-box;
    color: $white;
    padding: 1em 1em 11em 1em;
    text-align: center;
    z-index: 1;

    @include respond-to('max-width: 1024px') {
      height: 100vh;
      min-height: 40em;
      padding: 1em;
    }

    a {
      color: $white;
    }

    &:before {
      @include dimensions(100%, 100%);
      background: url('images/wp1841296-italy-flag-wallpapers.jpg') top center/cover no-repeat;
      content: '';
      left: 0;
      opacity: 0.8;
      position: absolute;
      top: 0;
      z-index: -1;
    }

    .logo {
      @include dimensions(auto, 12em);
      display: inline-block;
      left: 1.5em;
      position: absolute;
      top: 2.3em;
      z-index: 1;

      @include respond-to('max-width: 640px') {
        left: 1em;
        top: 2em;
      }
    }

    .nav {
      display: inline-block;
      position: absolute;
      right: 1.2em;
      top: 1.3em;

      @include respond-to('max-width: 640px') {
        display: none;
      }

      .nav-link {
        @include indentations(0, 1.4em);
        background-color: rgba(255, 255, 255, 0);
        border-radius: 1px;
        display: inline-block;
        color: $white;
        font: {
          size: 0.9em;
          weight: bold;
        }
        text-transform: uppercase;

        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
          transition: background-color 0.3s;
        }
      }
    }

    .dropdown {
      @include dimensions(5em, 100%);
      display: none;
      left: 0;
      position: fixed;
      top: 0;
      z-index: 1;

      @include respond-to('max-width: 640px') {
        display: inline-block;
      }

      .burger {
        @include dimensions(1em, 2.3em);
        cursor: pointer;
        display: inline-block;
        position: fixed;
        right: 1.5em;
        top: 2.5em;
        z-index: 1;

        @include respond-to('max-width: 640px') {
          right: 1.3em;
          top: 2.2em;
        }

        span {
          @include dimensions(2px, 100%);
          background-color: $white;
          display: block;
          position: absolute;

          &:first-child {
            top: 0;
          }

          &:last-child {
            bottom: 0;
          }
        }
      }

      .burger-active {
        span {
          background-color: $black;

          &:first-child {
            transform: translateY(4px) rotate(135deg);
          }

          &:last-child {
            transform: translateY(-10px) rotate(-135deg);
          }
        }
      }

      .menu {
        @include dimensions(auto, 100%);
        padding-top: 5em;

        .drop {
          @include dimensions(100%, 100%);

          .drop-link {
            @include dimensions(auto, 100%);
            background-color: rgba(255, 255, 255, 0.8);
            border-top: 1px solid rgba(0, 0, 0, 0.4);
            box-sizing: border-box;
            display: inline-block;
            color: $black;
            font-size: 1em;
            padding: 1em;
            text-transform: uppercase;

            &:last-child {
              border-bottom: 1px solid rgba(0, 0, 0, 0.4);
            }

            &:hover {
              background-color: $white;
              transition: all 0.3s;
            }
          }
        }
      }
    }

    .dropdown-active {
      background-color: rgba(255, 255, 255, 0.8);
    }

    .title {
      font: {
        family: 'Lora', serif;
        size: 3.2em;
        weight: normal;
      }
      position: relative;
      top: 2em;
      white-space: pre;

      @include respond-to('max-width: 1024px') {
        font-size: 2.5em;
      }

      @include respond-to('max-width: 640px') {
        font-size: 2em;
        top: 2.5em;
      }

      @include respond-to('max-width: 500px') {
        font-size: 1.7em;
      }
    }

    .what-we-do {
      font: {
        size: 1.2em;
        weight: normal;
      }
      position: relative;
      top: 4em;

      @include respond-to('max-width: 640px') {
        font-size: 1.2em;
        padding: 0 0.5em;
        top: 4em;
      }

      @include respond-to('max-width: 480px') {
        font-size: 1.1em;
      }

      span {
        display: inline-block;
        margin: 0.2em 0;
      }
    }

    .free-consultation-button {
      background-color: rgba(255, 255, 255, 0);
      border: 1px solid rgba(255, 255, 255, 0.5);
      border-radius: 2px;
      display: inline-block;
      padding: 1em;
      position: relative;
      top: 7em;
      text-transform: uppercase;

      @include respond-to('max-width: 640px') {
        padding: 0.7em;
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
        transition: background-color 0.3s;
      }
    }

    .info-header {
      position: relative;
      top: 10em;

      @include respond-to('max-width: 1024px') {
        bottom: 1em;
        box-sizing: border-box;
        justify-content: space-around;
        left: 0;
        padding: 0 1em;
        position: absolute;
        top: auto;
      }

      @include respond-to('max-width: 640px') {
        align-items: center;
        flex-direction: column;
      }

      .info-section {
        @include dimensions(auto, 32%);
        margin: 1em 0.7em;
        max-width: 25em;

        @include respond-to('max-width: 1024px') {
          @include dimensions(2.6em, 32%);
          margin: 1em 0;
        }

        @include respond-to('max-width: 640px') {
          margin: 0.3em 0.7em;
          width: 14.5em;
        }

        .section-image {
          @include dimensions(auto, 100%);

          @include respond-to('max-width: 1024px') {
            display: none;
          }
        }

        .section-title {
          color: $black;
          display: inline-block;

          @include respond-to('max-width: 1024px') {
            @include dimensions(100%, 100%);
            cursor: pointer;
          }

          h3 {
            font: {
              size: 1.5em;
              weight: bold;
            }
            margin: 0.8em;
            text-transform: uppercase;

            @include respond-to('max-width: 1024px') {
              @include indentations(0, 0.6em 0.5em);
              font-size: 1.1em;
            }
          }
        }

        .section-text {
          @include respond-to('max-width: 1024px') {
            display: none;
          }
        }

        &:nth-child(2),
        &:nth-child(3) {
          .section-title {
            margin-bottom: 1.5em;
          }
        }
      }
    }
  }

  main {
    @include dimensions(auto, 100%);

    .info-main {
      display: none;

      @include respond-to('max-width: 1024px') {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        padding: 0 0.7em;
      }

      .info-section {
        @include dimensions(auto, 100%);
        background: rgb(237,237,237);
        background: radial-gradient(circle, rgba(237,237,237,1) 10%, rgba(222,222,222,1) 90%);
        box-shadow: 3px 5px 5px #bababa;
        margin: 0.7em 0;
        text-align: center;

        @include respond-to('max-width: 640px') {
          @include indentations(0.5em 0, 0.7em);
        }

        .section-image {
          width: 30em;

          @include respond-to('max-width: 640px') {
            width: 100%;
          }
        }

        .section-title {
          font-size: 1.5em;
          margin: 0.8em;
          text-transform: uppercase;
        }

        &:first-child {
          margin-top: 2em;

          @include respond-to('max-width: 640px') {
            margin-top: 1.5em;
          }
        }
      }
    }

    .info-section {
      @include dimensions(47em, 100%);
      @include indentations(0, 1em);
      box-sizing: border-box;
      position: relative;

      @include respond-to('max-width: 1024px') {
        height: 40em;
      }

      @include respond-to('max-width: 800px') {
        height: auto;
      }

      .section-content {
        @include dimensions(100%, 70em);
        margin: 0 auto;
        position: relative;

        @include respond-to('max-width: 1200px') {
          width: 60em;
        }

        @include respond-to('max-width: 1024px') {
          width: 47em;
        }

        @include respond-to('max-width: 800px') {
          text-align: center;
          width: 100%;
        }

        .section-title {
          @include indentations(0, 0.5em 1em 0.3em 1em);
          font-size: 2em;
          text-align: center;
        }

        hr {
          background-color: black;
          border: 1px solid $black;
          margin: 0 auto 3em auto;
          width: 5em;

          @include respond-to('max-width: 1024px') {
            margin-bottom: 2em;
          }
        }

        .section-text,
        .section-image {
          display: inline-block;
          position: absolute;

          @include respond-to('max-width: 800px') {
            position: relative;
          }
        }

        .section-text {
          @include respond-to('max-width: 800px') {
            text-align: center;
            top: 1em;
            width: 80%;
          }

          @include respond-to('max-width: 640px') {
            width: 100%;
          }

          p {
            font-size: 1.1em;
            margin: 0 0 1em 0;
          }
        }

        span {
          @include dimensions(22em, 2px);
          background-color: $black;
          bottom: 0;
          display: inline-block;
          left: 0;
          margin: auto;
          position: absolute;
          right: 0;
          top: 5em;

          @include respond-to('max-width: 800px') {
            display: none;
          }
        }

        .section-image {
          height: 600px;

          @include respond-to('max-width: 1024px') {
            height: 500px;
          }

          @include respond-to('max-width: 480px') {
            height: 400px;
          }

          img {
            @include dimensions(100%, auto);
            box-shadow: 3px 3px 3px #bababa;
          }
        }
      }
    }

    .about-me {
      .section-text {
        @include dimensions(auto, 31em);
        text-align: right;
        top: 34%;

        @include respond-to('max-width: 1200px') {
          top: 31%;
          width: 28em;
        }

        @include respond-to('max-width: 1024px') {
          top: 23%;
          width: 21em;
        }
      }

      .section-image {
        right: 6em;

        @include respond-to('max-width: 1200px') {
          right: 3em;
        }

        @include respond-to('max-width: 1024px') {
          right: 0;
        }
      }
    }

    .contact-me {
      .section-image {
        left: 6em;

        @include respond-to('max-width: 1200px') {
          left: 3em;
        }

        @include respond-to('max-width: 1024px') {
          left: 0;
        }
      }

      .section-text {
        @include dimensions(auto, 31em);
        right: 0;
        text-align: left;
        top: 47%;

        @include respond-to('max-width: 1200px') {
          width: 28em;
        }

        @include respond-to('max-width: 1024px') {
          width: 21em;
        }
      }
    }

    .arrow-up {
      @include dimensions(3em, 3em);
      bottom: 1em;
      display: none;
      position: fixed;
      right: 1.2em;
      z-index: 1;

      &:hover {
        transform: translateY(-0.1em);
      }

      img {
        @include dimensions(100%, 100%);
      }
    }
  }

  footer {
    @include dimensions(6em, 100%);

    @include respond-to('max-width: 640px') {
      text-align: center;
    }

    .copyright {
      display: inline-block;
      left: 1.5em;
      position: relative;
      top: 2.5em;

      @include respond-to('max-width: 640px') {
        padding: 2.25em 1.5em;
        position: static;
      }

      p {
        font-weight: bold;
        margin: 0;
      }
    }
  }
}
