@import 'helpers/variables';
@import 'helpers/mixins';
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap&subset=latin-ext');

html,
body {
  @include dimensions(100%, 100%);
  @include indentations(0, 0);
}

.container {
  @include dimensions(auto, 100%);
  background-color: $white;
  font: {
    color: $black;
    family: 'Rubik', sans-serif;
    size: 16px;
  }
  position: relative;

  a {
    border: none;
    text-decoration: none;
  }

  img {
    border: none;
  }

  // .nav {
  //   @include dimensions(100%, 4em);
  //   font-weight: bold;
  //   text-align: right;
  //   background-color: $white;
  //
  //   .nav__link {
  //     @include indentations(0, 1.6em 1em);
  //     font-size: 0.9em;
  //     line-height: 1.5;
  //     color: $black;
  //     text-transform: uppercase;
  //   }
  // }

  .info {
    @include dimensions(auto, 100%);
    display: flex;
    justify-content: center;

    .info-section {
      background-color: $white;
      color: $black;
      position: relative;

      .info-section-title {
        font: {
          size: 1.5em;
          weight: bold;
        }
        text-transform: uppercase;
      }

      .info-section-text {
        @include dimensions(auto, 100%);
        box-sizing: border-box;
        padding: 0 1em;

        @include respond-to('max-width: 1024px') {
          padding: 0 0.7em;
        }

        ul, ol {
          padding-left: 1.5em;
          text-align: left;

          @include respond-to('max-width: 1024px') {
            padding-left: 1em;
          }

          li {
            padding: 0.2em 0;
          }
        }
      }

      &:first-child {
        span {
          display: inline-block;
          margin: 0.25em 0;

          h3 {
            font-size: 1.05em;
            line-height: 1.3;
            margin: 0;
          }
        }
      }

      &:nth-child(3) {
        ul {
          p {
            margin-top: 0.2em;
          }
        }
      }
    }
  }

  header {
    @include dimensions(auto, 100%);
    background-color: $black;
    box-sizing: border-box;
    color: $white;
    padding: 1em;
    position: relative;
    text-align: center;
    z-index: 1;

    a {
      color: $white;
    }

    &:before {
      @include dimensions(100%, 100%);
      background: url('images/wp1841296-italy-flag-wallpapers.jpg') top center/cover no-repeat;
      content: '';
      left: 0;
      opacity: 0.8;
      position: absolute;
      top: 0;
      z-index: -1;
    }

    .logo {
      @include dimensions(3em, 7em);
      border: 1px solid $white;
      margin: 0 auto;
      position: relative;
      top: 1.5em;

      @include respond-to('max-width: 480px') {
        top: 1em;
      }
    }

    .title {
      font: {
        family: serif;
        size: 3.3em;
      }
      position: relative;
      top: 0.7em;
      white-space: pre;

      @include respond-to('max-width: 1024px') {
        font-size: 2.5em;
      }

      @include respond-to('max-width: 480px') {
        font-size: 1.7em;
        top: 1em;
      }
    }

    .what-we-do {
      font: {
        size: 1.3em;
        weight: normal;
      }
      position: relative;
      top: 1.2em;

      @include respond-to('max-width: 480px') {
        font-size: 1.2em;
        top: 1.5em;
      }

      span {
        display: inline-block;
        margin: 0.2em 0;
      }
    }

    .free-consultation-button {
      @include indentations(3em 0 2em 0, 1em);
      background-color: rgba(255, 255, 255, 0);
      border: 1px solid $white;
      border-radius: 0.1em;
      display: inline-block;

      @include respond-to('max-width: 800px') {
        margin-bottom: 1em;
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
        transform: translate(0.03em, 0.03em);
      }
    }

    .info-header {
      @include respond-to('max-width: 1024px') {
        justify-content: space-around;
      }

      @include respond-to('max-width: 640px') {
        align-items: center;
        flex-direction: column;
      }

      .info-section {
        @include dimensions(auto, 30%);
        margin: 1em 0.7em;
        max-width: 25em;

        @include respond-to('max-width: 1024px') {
          margin: 1em 0;
          width: 32.5%;
        }

        @include respond-to('max-width: 950px') {
          height: 2.6em;
        }

        @include respond-to('max-width: 640px') {
          margin: 0.3em 0.7em;
          width: 14.5em;
        }

        .info-section-image {
          @include dimensions(auto, 100%);

          @include respond-to('max-width: 950px') {
            display: none;
          }
        }

        .info-section-title {
          color: $black;
          display: inline-block;
          margin: 0.8em;

          @include respond-to('max-width: 950px') {
            @include dimensions(100%, 100%);
            @include indentations(0, 0.5em 0.5em 0 0.5em);
            box-sizing: border-box;
            cursor: pointer;
            font-size: 1.2em;
            // margin: 0;
          }
        }

        .info-section-text {
          @include respond-to('max-width: 950px') {
            display: none;
          }
        }

        &:nth-child(2),
        &:nth-child(3) {
          .info-section-title {
            margin-bottom: 2.05em;
          }
        }
      }
    }
  }

  main {
    @include dimensions(auto, 100%);

    .info-main {
      display: none;

      @include respond-to('max-width: 950px') {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        padding: 0 0.7em;
      }

      .info-section {
        @include dimensions(auto, 100%);
        background: rgb(237,237,237);
        background: radial-gradient(circle, rgba(237,237,237,1) 10%, rgba(222,222,222,1) 90%);
        box-shadow: 3px 5px 5px #bababa;
        margin: 1em 0;
        text-align: center;

        @include respond-to('max-width: 480px') {
          padding: 0.7em;
        }

        .info-section-image {
          width: 30em;

          @include respond-to('max-width: 530px') {
            width: 100%;
          }
        }

        &:first-child {
          margin-top: 2em;
        }
      }
    }

    .info-section {
      @include dimensions(auto, 100%);
      @include indentations(0, 1em);
      box-sizing: border-box;

      .info-section__content {
        @include dimensions(80%, 70%);
        margin: 0 auto;
        max-width: 70em;
        position: relative;

        .info-section__title {
          font: {
            family: serif;
            size: 1.8em;
          }
          margin: 0.5em 0 0.8em 0;
          text-align: center;
        }

        hr {
          border: 1px solid $black;
          margin: 0 auto 3em auto;
          width: 3em;
        }
      }
    }

    .about-me {
      .about-me__text,
      .about-me__photo {
        @include dimensions(auto, 45%);
        max-width: 30em;
        min-height: 23em;
      }

      .about-me__text {
        display: inline-block;
        text-align: justify;

        p {
          margin: 0 0 1em 0;
        }
      }

      span {
        @include dimensions(20em, 0.1em);
        background-color: $black;
        bottom: 0;
        display: inline-block;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 0;
      }

      .about-me__photo {
        float: right;
        text-align: center;

        img {
          @include dimensions(17em, 100%);
        }
      }
    }

    // .projects, .contact-me {
    //   height: 30em; /* remove later */
    // }
    //
    // .projects {
    //   background-color: $white;
    // }
  }

  footer {
    @include dimensions(4em, 100%);
    position: absolute;
    // bottom: 0;

    .copyright {
      left: 1em;
      position: absolute;
      top: 1.5em;

      p {
        font-weight: bold;
        margin: 0;
      }
    }
  }
}
