@import 'helpers/variables';
@import 'helpers/mixins';

html,
body {
  @include dimensions(100%, 100%);
  @include indentations(0, 0);
}

.container {
  @include dimensions(auto, 100%);
  background: rgb(222,222,222);
  background: linear-gradient(90deg, rgba(222,222,222,1) 0%, rgba(195,195,195,1) 50%, rgba(190,190,190,1) 100%);
  font: {
    color: $black;
    family: 'Inter', sans-serif;
    size: 16px;
  }
  overflow: hidden;
  position: relative;

  header,
  main,
  footer {
    position: relative;
  }

  * {
    outline-color: #14783e;
  }

  a {
    border: none;
    text-decoration: none;
  }

  img {
    border: none;
  }

  .opened {
    display: inline-block;
  }

  .closed {
    display: none;
  }

  .button {
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    transition: 0.5s;
  }

  .empty-div {
    height: 22em;

    @include respond-to('max-width: 1024px') {
      height: 15em;
    }

    @include respond-to('max-width: 800px') {
      height: 4.2em;
    }

    @include respond-to('max-width: 640px') {
      height: 7.5em;
    }

    @include respond-to('max-width: 380px') {
      height: 8.5em;
    }
  }

  .info {
    @include dimensions(auto, 100%);
    display: flex;
    justify-content: center;

    .info-section {
      background-color: $white;
      color: $black;
      position: relative;

      .section-text {
        @include dimensions(auto, 100%);
        box-sizing: border-box;
        padding: 0 1em;

        @include respond-to('max-width: 1024px') {
          padding: 0 0.7em;
        }

        span {
          p {
            margin-top: 0;
          }
        }

        ul, ol {
          padding-left: 1.5em;
          text-align: left;

          @include respond-to('max-width: 1024px') {
            padding-left: 1em;
          }

          li {
            padding: 0.2em 0;
          }
        }
      }

      &:first-child {
        span {
          display: inline-block;
          margin: 0.25em 0;

          h3 {
            font-size: 1.05em;
            line-height: 1.3;
            margin: 0;
          }
        }
      }

      &:nth-child(3) {
        ul {
          p {
            margin-top: 0.2em;
          }
        }
      }
    }
  }

  header {
    @include dimensions(auto, 100%);
    background-color: $black;
    box-sizing: border-box;
    color: $white;
    padding: 1em 1em 11em 1em;
    text-align: center;
    z-index: 1;

    @include respond-to('max-width: 1024px') {
      height: 100vh;
      min-height: 40em;
      padding: 1em;
    }

    a {
      color: $white;
    }

    &:before {
      @include dimensions(100%, 100%);
      background: url('images/wp1841296-italy-flag-wallpapers.jpg') top center/cover no-repeat;
      content: '';
      left: 0;
      opacity: 0.8;
      position: absolute;
      top: 0;
      z-index: -1;
    }

    .logo {
      @include dimensions(auto, 12em);
      display: inline-block;
      left: 1.5em;
      position: absolute;
      top: 2.3em;
      z-index: 1;

      @include respond-to('max-width: 640px') {
        left: 1em;
        top: 2em;
      }
    }

    .nav {
      display: inline-block;
      position: absolute;
      right: 1.2em;
      top: 1.3em;

      @include respond-to('max-width: 640px') {
        display: none;
      }

      .nav-link {
        @include indentations(0, 1.4em 1.4em 1.3em 1.4em);
        background-color: rgba(255, 255, 255, 0);
        border-radius: 1px;
        display: inline-block;
        color: $white;
        font: {
          size: 0.9em;
          weight: bold;
        }
        text-transform: uppercase;
        transition: 0.5s;

        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
          transition: background-color 0.3s;
        }
      }
    }

    .dropdown {
      @include dimensions(5em, 100%);
      display: none;
      left: 0;
      position: fixed;
      top: 0;
      z-index: 1;

      @include respond-to('max-width: 640px') {
        display: inline-block;
      }

      .burger {
        @include dimensions(1.5em, 2.3em);
        cursor: pointer;
        display: inline-block;
        position: fixed;
        right: 1.5em;
        top: 2.5em;
        z-index: 1;

        @include respond-to('max-width: 640px') {
          right: 1.3em;
          top: 2em;
        }

        span {
          @include dimensions(2px, 100%);
          background-color: $white;
          display: block;
          position: absolute;
          transition: 0.5s;

          &:first-child {
            top: 5px;
          }

          &:last-child {
            bottom: 5px;
          }
        }
      }

      .burger_active {
        span {
          background-color: $black;

          &:first-child {
            top: 11px;
        		transform: rotate(40deg);
        		transform-origin: center;
          }

          &:last-child {
            bottom: 10px;
        		transform: rotate(-40deg);
        		transform-origin: center;
          }
        }
      }

      .menu {
        @include dimensions(auto, 100%);
        padding-top: 5em;

        .drop {
          @include dimensions(100%, 100%);

          .drop-link {
            @include dimensions(auto, 100%);
            background-color: rgba(255, 255, 255, 0.85);
            border-top: 1px solid rgba(0, 0, 0, 0.4);
            box-sizing: border-box;
            display: inline-block;
            color: $black;
            font-size: 1em;
            padding: 1em;
            text-transform: uppercase;
            transition: 0.5s;

            &:last-child {
              border-bottom: 1px solid rgba(0, 0, 0, 0.4);
            }

            &:hover {
              background-color: $white;
              transition: all 0.3s;
            }
          }
        }
      }
    }

    .dropdown_active {
      background-color: rgba(255, 255, 255, 0.85);
    }

    .title {
      font: {
        family: 'Lora', serif;
        size: 3.2em;
        weight: normal;
      }
      position: relative;
      top: 2em;
      white-space: pre;

      @include respond-to('max-width: 1024px') {
        font-size: 2.5em;
      }

      @include respond-to('max-width: 640px') {
        font-size: 2em;
      }

      @include respond-to('max-width: 380px') {
        font-size: 1.7em;
      }
    }

    .what-we-do {
      font: {
        size: 1.2em;
        weight: normal;
      }
      position: relative;
      top: 4em;

      @include respond-to('max-width: 640px') {
        font-size: 1.2em;
        padding: 0 0.5em;
        top: 3em;
      }

      @include respond-to('max-width: 480px') {
        font-size: 1.1em;
      }

      span {
        display: inline-block;
        margin: 0.2em 0;
      }
    }

    .free-consultation-button {
      background-color: rgba(255, 255, 255, 0);
      border: 1px solid rgba(255, 255, 255, 0.5);
      padding: 0.8em 1em 0.7em 1em;
      position: relative;
      top: 7em;

      @include respond-to('max-width: 640px') {
        top: 4.5em;
      }

      @include respond-to('max-width: 480px') {
        top: 4em;
      }

      @include respond-to('max-width: 350px') {
        top: 3.3em;
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
        transition: background-color 0.5s;
      }

      img,
      a {
        display: inline-block;
        vertical-align: middle;
      }

      img {
        width: 30px;
      }
    }

    .info-header {
      position: relative;
      top: 10em;

      @include respond-to('max-width: 1024px') {
        bottom: 1em;
        box-sizing: border-box;
        justify-content: space-around;
        left: 0;
        padding: 0 1em;
        position: absolute;
        top: auto;
      }

      @include respond-to('max-width: 640px') {
        align-items: center;
        flex-direction: column;
      }

      .info-section {
        @include dimensions(auto, 32%);
        margin: 1em 0.5em;
        max-width: 25em;

        @include respond-to('max-width: 1024px') {
          height: 2.6em;
          margin: 1em 0;
        }

        @include respond-to('max-width: 640px') {
          margin: 0.3em 0.7em;
          width: 14.5em;
        }

        &:after {
          @include dimensions(100%, 101%);
          background-color: $gray;
          box-shadow: 1px 1px 1px $gray;
          content: '';
          left: -0.5%;
          opacity: 0.5;
          position: absolute;
          top: 0.2%;
          z-index: -1;

          @include respond-to('max-width: 1024px') {
            top: 3%;
          }
        }

        .section-image {
          @include dimensions(auto, 100%);

          @include respond-to('max-width: 1024px') {
            display: none;
          }
        }

        .section-title {
          color: $black;
          display: inline-block;

          @include respond-to('max-width: 1024px') {
            @include dimensions(100%, 100%);
            cursor: pointer;
          }

          h3 {
            font: {
              size: 1.5em;
              weight: bold;
            }
            margin: 0.8em;
            text-transform: uppercase;

            @include respond-to('max-width: 1024px') {
              @include indentations(0, 0.6em 0.5em);
              font-size: 1.1em;
            }
          }
        }

        .section-text {
          padding-bottom: 0.5em;

          @include respond-to('max-width: 1024px') {
            display: none;
          }
        }

        &:nth-child(2),
        &:nth-child(3) {
          .section-title {
            margin-bottom: 1.5em;
          }
        }
      }
    }
  }

  main {
    @include dimensions(auto, 100%);

    .info-main {
      display: none;

      @include respond-to('max-width: 1024px') {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        padding: 0 0.7em;
      }

      .info-section {
        @include dimensions(auto, 100%);
        background: #dbdbdb;
        box-shadow: 3px 5px 5px #bababa;
        margin: 0.7em 0;
        text-align: center;

        @include respond-to('max-width: 640px') {
          @include indentations(0.5em 0, 0.7em);
          box-sizing: border-box;
        }

        .section-image {
          width: 30em;

          @include respond-to('max-width: 640px') {
            width: 100%;
          }
        }

        .section-title {
          font-size: 1.5em;
          margin: 0.8em;
          text-transform: uppercase;
        }

        .section-text {
          @include respond-to('max-width: 640px') {
            padding: 0;
          }
        }

        &:first-child {
          margin-top: 2em;

          @include respond-to('max-width: 640px') {
            margin-top: 1.5em;
          }
        }
      }
    }

    .personal-info {
      @include indentations(0, 1em);
      box-sizing: border-box;
      position: relative;
      width: 100%;

      .personal-content {
        @include dimensions(100%, 70em);
        margin: 0 auto;
        position: relative;

        @include respond-to('max-width: 1200px') {
          width: 60em;
        }

        @include respond-to('max-width: 1024px') {
          width: 47em;
        }

        @include respond-to('max-width: 800px') {
          text-align: center;
          width: 100%;
        }

        .personal-title {
          @include indentations(0, 0.5em 1em 0.3em 1em);
          font-size: 2em;
          text-align: center;

          @include respond-to('max-width: 800px') {
            font-size: 1.5em;
          }
        }

        hr {
          background-color: black;
          border: 1px solid $black;
          margin: 0 auto 3em auto;
          width: 5em;

          @include respond-to('max-width: 1024px') {
            margin-bottom: 2em;
          }
        }

        .vertical-line {
          @include dimensions(22em, 2px);
          background-color: $black;
          display: inline-block;
          position: relative;
          top: 7.5em;

          @include respond-to('max-width: 1024px') {
            top: 5em;
          }

          @include respond-to('max-width: 800px') {
            display: none;
          }
        }

        .personal-text {
          display: inline-block;

          @include respond-to('max-width: 800px') {
            position: relative;
            text-align: center;
            top: 1em;
            width: 80%;
          }

          @include respond-to('max-width: 640px') {
            width: 100%;
          }

          p {
            font-size: 1.1em;
            margin: 0 0 1em 0;
          }
        }

        .personal-image {
          display: inline-block;
          height: 600px;

          @include respond-to('max-width: 1024px') {
            height: 500px;
          }

          @include respond-to('max-width: 800px') {
            position: relative;
          }

          @include respond-to('max-width: 480px') {
            height: 400px;
          }

          img {
            @include dimensions(100%, auto);
            box-shadow: 3px 3px 3px #bababa;
          }
        }

        .personal-buttons {
          align-items: center;
          box-sizing: border-box;
          display: flex;
          justify-content: space-between;
          text-align: center;
        }
      }
    }

    .about-me {
      .vertical-line {
        left: 36em;

        @include respond-to('max-width: 1200px') {
          left: 30em;
        }

        @include respond-to('max-width: 1024px') {
          left: 24.5em;
        }
      }

      .personal-text.one {
        @include dimensions(auto, 33em);
        position: absolute;
        text-align: right;
        top: 20%;

        @include respond-to('max-width: 1200px') {
          top: 19%;
          width: 28em;
        }

        @include respond-to('max-width: 1024px') {
          top: 17%;
          width: 22.8em;
        }

        @include respond-to('max-width: 800px') {
          margin-top: 1em;
          position: relative;
          text-align: center;
          top: 0;
          width: 100%;
        }
      }

      .personal-text.two {
        position: relative;
        top: 17em;

        @include respond-to('max-width: 1024px') {
          top: 11em;
        }

        @include respond-to('max-width: 800px') {
          top: 0;
          width: 100%;
        }
      }

      .quote {
        span {
          font-style: italic;
        }
      }

      .quote.one {
        span {
          display: inline-block;
          font-size: 2em;
          padding-bottom: 0.5em;

          @include respond-to('max-width: 1024px') {
            font-size: 1.5em;
          }

          @include respond-to('max-width: 800px') {
            font-size: 1.1em;
            padding-bottom: 0.3em;
          }
        }
      }

      .personal-image {
        position: absolute;
        right: 6em;

        @include respond-to('max-width: 1200px') {
          right: 3em;
        }

        @include respond-to('max-width: 1024px') {
          right: 0;
        }
      }

      .personal-buttons {
        bottom: 1em;
        box-sizing: border-box;
        padding: 0 10em;
        position: absolute;
        width: 100%;

        @include respond-to('max-width: 1024px') {
          bottom: 0;
          padding: 0 3em;
        }

        @include respond-to('max-width: 800px') {
          padding: 0 1em;
        }

        @include respond-to('max-width: 640px') {
          flex-wrap: wrap;
          justify-content: center;
          padding: 0;
          width: 100%;
        }

        .button {
          background-color: $white;
          border: 1px solid $white;
          color: $black;
          font-weight: bold;
          padding: 1em 1em 0.9em 1em;

          @include respond-to('max-width: 640px') {
            width: 100%;

            &:first-child {
              margin-bottom: 0.5em;
            }
          }

          &:hover {
            background-color: rgba(255, 255, 255, 0.5);
            border-color: rgba(255, 255, 255, 0.4);
          }
        }
      }
    }

    .projects {
      text-align: center;

      h4 {
        @include indentations(-0.7em 0 0 0, 0.5em);
        font-size: 1.5em;

        @include respond-to('max-width: 800px') {
          font-size: 1.3em;
        }
      }

      #sub-hr {
        margin-bottom: 1.5em;
      }

      div {
        margin-bottom: 1.7em;

        &:last-child {
          margin-bottom: 0;
        }
      }

      h5 {
        font-size: 1.2em;
        margin: 1em 0.5em 0.5em 0.5em;
      }

      h6 {
        font-size: 1.15em;
        margin: 0.7em 0.5em 0.5em 0.5em;
      }

      a {
        color: $black;
      }
    }

    .contact-me {
      height: 47em;

      @include respond-to('max-width: 1024px') {
        height: 40em;
      }

      @include respond-to('max-width: 800px') {
        height: auto;
      }

      .vertical-line {
        left: 35em;

        @include respond-to('max-width: 1200px') {
          left: 30em;
        }

        @include respond-to('max-width: 1024px') {
          left: 23.5em;
        }
      }

      .personal-image {
        left: 6em;
        position: absolute;

        @include respond-to('max-width: 1200px') {
          left: 3em;
        }

        @include respond-to('max-width: 1024px') {
          left: 0;
        }

        @include respond-to('max-width: 800px') {
          margin-bottom: 1.3em;
        }
      }

      .personal-text {
        @include dimensions(auto, 31em);
        position: absolute;
        right: 0;
        text-align: left;

        @include respond-to('max-width: 1200px') {
          width: 28em;
        }

        @include respond-to('max-width: 1024px') {
          width: 21em;
        }

        a {
          color: inherit;
          display: inline-block;
          font-size: 1.1em;
          margin: 0 0 1em 0;
        }
      }

      .personal-text.it {
        display: none;
        top: 36.6%;

        @include respond-to('max-width: 1024px') {
          top: 34.2%;
        }
      }

      .personal-text.ru {
        top: 39.3%;

        @include respond-to('max-width: 1024px') {
          top: 37.7%;
        }
      }

      .personal-address {
        p:first-child {
          margin-bottom: 0.5em;
        }

        p:nth-child(2),
        p:nth-child(3) {
          margin: 0.2em 0;
        }
      }

      .personal-buttons {
        bottom: 4em;
        padding-right: 11.5em;
        position: absolute;
        right: 0;
        width: 32em;

        @include respond-to('max-width: 1200px') {
          bottom: 3em;
          padding-right: 7em;
          width: 29em;
        }

        @include respond-to('max-width: 1024px') {
          bottom: 1em;
          padding-right: 1.3em;
          width: 22em;
        }

        @include respond-to('max-width: 800px') {
          margin: 2em auto 0 auto;
          padding: 0;
          position: relative;
          width: 25em;
        }

        @include respond-to('max-width: 640px') {
          width: 85%;
        }

        @include respond-to('max-width: 500px') {
          flex-wrap: wrap;
          justify-content: center;
          width: 13em;
        }

        .lang {
          cursor: pointer;
          font-weight: bold;
          padding: 0.7em 0.7em 0.65em 0.7em;

          @include respond-to('max-width: 500px') {
            width: 100%;

            &:first-child {
              margin-bottom: 1em;
            }
          }
        }
      }
    }

    .arrow-up {
      @include dimensions(3em, 3em);
      bottom: 1em;
      display: none;
      position: fixed;
      right: 1.2em;
      transition: 0.7s;
      z-index: 1;

      &:hover {
        transform: translateY(-0.1em);
      }

      img {
        @include dimensions(100%, 100%);
      }
    }
  }

  footer {
    @include dimensions(6em, 100%);

    @include respond-to('max-width: 640px') {
      text-align: center;
    }

    .copyright {
      display: inline-block;
      left: 1.5em;
      position: relative;
      top: 2.5em;

      @include respond-to('max-width: 640px') {
        padding: 2.25em 1.5em;
        position: static;
      }

      p {
        margin: 0;
      }
    }
  }
}
