@import 'helpers/variables';
@import 'helpers/mixins';

html, body {
  @include dimensions(100%, 100%);
  @include indentations(0, 0);
}

.container {
  @include dimensions(100%, auto);
  font: {
    family: sans-serif;
    size: 16px;
  }
  background-color: $black-blue;
  position: relative;

  a {
    display: inline-block;
    text-decoration: none;
    border: none;
  }

  img {
    border: none;
  }

  .nav {
    @include dimensions(100%, 4em);
    font-weight: bold;
    text-align: right;
    background-color: $white;

    .nav__link {
      @include indentations(0, 1.6em 1em);
      font-size: 0.9em;
      line-height: 1.5;
      color: $black;
      text-transform: uppercase;
    }
  }

  header {
    @include dimensions(100%, 100vh);
    color: $white;
    text-align: center;
    position: relative;
    z-index: 1;

    &:before {
      @include dimensions(100%, 100%);
      content: '';
      background: url('images/giammarco-boscaro-zeH-ljawHtg-unsplash.jpg') top right/cover no-repeat;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.5;
      z-index: -1;
    }

    .logo {
      @include dimensions(7em, 3em);
      color: $black;
      border: 1px solid $black;
      position: absolute;
      top: 0.5em;
      left: 1em;
    }

    h1 {
      @include indentations(20% auto auto auto, 0 1em);
      font: {
        family: serif;
        size: 5em;
      }
    }

    h2 {
      margin: 1em;
      font-size: 1.1em;
      font-weight: lighter;
    }
  }

  main {
    @include dimensions(100%, auto);

    .info-section {
      @include dimensions(100%, auto);
      @include indentations(0, 1em);
      box-sizing: border-box;
      color: $white;
      background-color: $black-blue;

      .info-section__title {
        color: $brown;
        font-family: serif;
        text-align: center;
      }
    }

    .projects {
      background-color: $white;
    }
  }

  footer {
    @include dimensions(100%, 4em);
    position: absolute;
    // bottom: 0;

    .copyright {
      position: absolute;
      top: 1em;
      left: 1em;

      p {
        font-weight: bold;
      }
    }
  }
}
